<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 
 	<context:component-scan base-package="org.mysql.neo4j.dao" />
    <context:component-scan base-package="org.mysql.neo4j.service" />
    
    <tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Creating TransactionManager Bean, since JDBC we are creating of type DataSourceTransactionManager -->
    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

	<!-- MySQL DB DataSource -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<bean id="countryDAO" class="org.mysql.neo4j.dao.CountryDAOImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <bean id="cityDAO" class="org.mysql.neo4j.dao.CityDAOImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <bean id="addressDAO" class="org.mysql.neo4j.dao.AddressDAOImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
 
    <bean id="countryManager" class="org.mysql.neo4j.service.CountryManagerImpl">
        <property name="countryDAO" ref="countryDAO"></property>
    </bean>
    
    <bean id="cityManager" class="org.mysql.neo4j.service.CityManagerImpl">
        <property name="cityDAO" ref="cityDAO"></property>
    </bean>
    
    <bean id="addressManager" class="org.mysql.neo4j.service.AddressManagerImpl">
        <property name="addressDAO" ref="addressDAO"></property>
    </bean>
	
</beans>
